<h1>Cocktails</h1>

<%= link_to "Add a cocktail", new_cocktail_path, class: "btn btn-primary btn-lg" %>

<% @cocktails.each do |cocktail| %>
  <div class="col-12 col-md-6 col-lg-3">
    <div class="card-description">
      <h2><%= cocktail.name %></h2>
    </div>
    <%= link_to "Show details", cocktail_path(cocktail), class: 'card-link' %>
  </div>
<% end %>
