<div>
  <h1>Create a new Cocktail</h1>
</div>

<div>
  <%= simple_form_for (@cocktail) do |f| %>
    <%= f.input :name %>
    <%= f.button :submit, "Submit cocktail", class: "btn btn-primary btn-sm m-2" %>
  <% end %>
</div>
