<div class="row justify-content-center">
  <h1>Add new dose</h1>
</div>

<div class="m-5">
  <%= simple_form_for [@cocktail, @dose] do |f| %>
    <%= f.association :ingredient %>
    <%= f.input :description %>
    <%= f.button :submit, "Submit dose", class: "btn btn-primary btn-sm m-2" %>
  <% end %>
</div>
