<h1>Add a new dose</h1>

<%= simple_form_for [@cocktail, @dose] do |f| %>
  <%= f.association :ingredient %>
  <%= f.input :description %>
  <%= f.button :submit, "Add new dose", class: "btn btn-primary btn-sm" %>
<% end %>
